@media screen and (min-width: 200px),
(min-width: 428px) {

    .container {
        min-width: 426px;


    }

    /* -----------------header------------------- */

    .contener-header {
        display: flex;
        justify-content: space-between;
        padding: 0;

    }

    .address-mob {
        color: #434455;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        font-family: "Roboto",
            sans-serif;
        text-transform: initial;
        transition: color 250ms linear;
    }

    .mobile {
        color: #434455;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        font-family: "Roboto",
            sans-serif;
        text-transform: initial;
        transition: color 250ms linear;

    }

    .hov-foc-mob {
        color: #2E2F42;
        font-size: 36px;
        line-height: 1.5;
        font-weight: 700;
        font-family: "Roboto",
            sans-serif;
        letter-spacing: 0.02em;
        text-transform: none;
        transition: color 250ms linear;

    }

    .list-nav {
        margin: 0;
    }

    .site-nav {
        display: none;
    }

    .site-nav-logo {
        padding: 24px 16px 22px 16px;

    }

    .underline::after {
        content: '';
        display: none;
    }



    /*----------------------- mob-menu-------------------- */

    .open-mob {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        border: transparent;
        background-color: #FFFFFF;
        margin: 0;
        padding-right: 15px;

    }


    .web-soc-item {
        display: flex;

    }

    .nav {
        margin: 0;
        padding: 0;
    }


    .site-nav-mob {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .hov-foc-mob {
        margin-bottom: 40px;
    }

    .site-nav .nav:last-child {
        margin-bottom: 0;
    }

    .site-address-mob {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    /* ---------------------- Main --------------------------- */

    .items {
        width: 100%;
        background-color: #2E2F42;
        text-align: center;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }

    .item {
        display: block;
        width: 320px;
        font-size: 36px;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;

    }

    /*------------------------- features-------------------------- */

    .contener-features {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .cont-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;

    }

    .contener-features li {
        margin-right: 0;
    }

    .lists {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        line-height: 1.11;
        color: #2e2f42;
        margin-top: 0;
        margin-bottom: 8px;
        text-transform: capitalize;
    }

    .lead {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
        margin-top: 0;

    }

    .features-list-img {
        display: none;
    }

    .fr-list {
        max-width: 356px;
    }



    /* --------------------------- What are we doing----------------------- */

    .contener-main {
        display: none;
    }

    /*--------------------------- Our Team---------------------- */
    .our-team {
        align-content: center;
        background-color: #f4f4fd;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .contener-out {
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: center;
        justify-content: center;
    }

    /*-------------------------- customers-------------------------- */

    .customers-team {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .customers-logo-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;

    }

    /* ------------------------footer---------------------- */

    .footer {
        background-color: #2E2F42;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .blok-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .blok {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

    }

    .text {
        color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.03em;
        margin-bottom: 72px;
    }

    .footer-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .social-list {
        margin-bottom: 72px;
    }


    .subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .subscribe-inpyt {
        width: 398px;
    }

    .form-subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }


    .modal {
        width: 392px;
        height: 584px;
    }

    .subscribe-inpyt {
        width: 398px;
    }



}




/* ---------------------------tablet------------------------------------- */



@media screen and (min-width: 768px) {

    .container {
        max-width: 766px;

    }


    .hov-foc {
        color: #2e2f42;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        font-family: "Roboto",
            sans-serif;
        letter-spacing: 0.02em;
        text-transform: none;
        transition: color 250ms linear;

    }

    .site-nav-logo {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    }

    .site-nav {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .list-nav {
        margin-right: 120px;
    }

    .nav {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 40px;
    }

    /* -------------------------Address---------------------------------------- */

    .address {
        color: #434455;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.04em;
        font-family: "Roboto",
            sans-serif;
        text-transform: initial;
        transition: color 250ms linear;
        margin-bottom: 12px;

    }

    .nav-address {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        padding: 0;
        margin: 0;

    }

    .contener-header {
        display: block;
    }

    .table{
        margin-bottom: 12px;
    }

    .nav-address .table:last-child{
        margin-bottom: 0;
    }

    .tabel-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }


    .nav.address .address:last-child {
        margin-bottom: 0;
    }

    /*----------------------- mob-menu-------------------- */

    .open-mob {
        display: none;
    }

    /*--------------- What are we doing--------------------------- */

    .contener-out {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;
        align-items: center;
        justify-content: center;
        flex-direction: unset;
    }



    /* ---------------------- Main --------------------------- */

    .items {
        width: 100%;
        background-color: #2E2F42;
        text-align: center;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-tabley.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }

    .item {
        display: block;
        width: 320px;
        font-size: 36px;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    /*------------------------- features-------------------------- */

    .contener-features {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .cont-features {
        display: flex;
        flex-direction: unset;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 72px 24px;
    }

    .contener-features li {
        flex-basis: calc((100% - 30px) / 2);
        margin-right: 0;
    }

    .lists {
        font-family: 'Roboto', sans-serif;
        text-align: start;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        line-height: 1.11;
        color: #2e2f42;
        margin-top: 0;
        margin-bottom: 8px;
        text-transform: capitalize;
    }

    .lead {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
        margin-top: 0;

    }

    .fr-list {
        max-width: 356px;
    }

    /*--------------------------- What are we doing------------------------------------------------------ */



    .webstudio-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

    }

    .box-foons-img {
        width: 260px;
        padding-top: 32px;
        padding-bottom: 32px;
        border: 1px solid #E7E9FC;
        border-top: none;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        ;
    }

    .foons {
        background-color: #FFFFFF;
        flex-basis: calc((100% - 72px) /4);
        max-width: 264px;
    }


    /*-------------------------- customers-------------------------- */

    .customers-team {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .customers-logo-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    /* ------------------------footer---------------------- */


    .logo-studio {
        margin-bottom: 16px;
        width: auto;
    }

    .text {
        color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.03em;
        margin-bottom: 72px;
    }

    .footer-wrap {
        display: block;
    }


    .blok {
        display: block;
        margin: 0;

    }

    .text {
        width: 264px;
        letter-spacing: 0.02em;
        margin: 0;
    }

    .blok-wrap {
        display: block;
        width: 552px;

    }

    .form-subscribe {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
    }

    .tabel-footer {
        display: flex;
        justify-content: flex-start;
        gap: 72px 24px;

    }

    .subscribe {
        display: block;
    }

    .subscribe-inpyt {
        width: 264px;
    }


    .modal {
        width: 408px;
        height: 584px;
    }




}



@media screen and (min-width: 1158px) {

    .container {
        min-width: 1158px;

    }

    /* ------------------------Header Web Studio------------------------ */

    .page-header {
        border-bottom: 1px solid #E7E9FC;
    }

    .contener-header {
        display: revert; 
    }

    .table{
        display: block;
        margin-right: 40px;
        margin-bottom: 0;
        
    }

    .tabel-nav{
        display: flex;
    }


    .list-nav {
        margin-right: 76px;

    }

    .nav {
        display: block;
        padding-top: 24px;
        padding-bottom: 27px;
        margin-right: 40px;
    }


    .address {
        padding-top: 24px;
        padding-bottom: 27px;
        margin: 0;
        font-size: 16px;
        letter-spacing: 0.02em;
        line-height: 1.5;
    
    }
   
    .site-nav-logo {
        display: flex;
        align-items: center;
    }

    .nav-address .table:last-child {
        margin-right: 0;
    }

    .underline {
         position: relative;
    }
    
     .underline::after {
         content: '';
         position: absolute;
         background-color: #404BBF;
         border-radius: 4px;
         height: 4px;
         width: 100%;
         left: 0;
         bottom: 0;
     }



    .nav-address {
        display: flex;
        flex-direction: row;
     
        align-items: center;
        position: relative;
        margin-left: 320px;
        
    }

    /* --------------------------Main---------------------------------------- */

    .items {
        width: 1440px;
        background-color: #2E2F42;
        text-align: center;
        padding-top: 188px;
        padding-bottom: 188px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/people-office.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }

    .item {
        min-width: 496px;
        display: block;
        font-size: 56px;
        color: #FFFFFF;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 48px;

    }



    .button {
        display: inline-block;
        color: #FFFFFF;
        background-color: #4D5AE5;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        font-weight: 500;
        cursor: pointer;
        font-family: "Roboto",
            sans-serif;
        text-align: center;
        padding: 16px 32px;
        border: 1px solid transparent;
        border-radius: 4px;
        transition: background-color 250ms linear;
    }

    /* -------------------------features-------------------------------- */

    .contener-features {
        padding-top: 120px;
        padding-bottom: 0;

    }

    .features-list-img {
        background-color: #F4F4FD;
        border-radius: 4px;
        width: 264px;
        height: 112px;
        margin-bottom: 8px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .fr-list {
        max-width: 264px;

    }

    .contener-features .fr-list:last-child {
        margin-right: 0;
    }

    .cont-features {
        display: flex;
        gap: 24px;

    }

    .lists {
        font-size: 20px;
        font-weight: 500;
        letter-spacing: 0.02em;
        line-height: 1.2;
        color: #2e2f42;
        margin-top: 0;
        margin-bottom: 8px;
    }

    .lead {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.02em;
        margin-top: 0;
        margin-bottom: 0;

    }

    /*----------------------------------- What are we doing------------------------------------------------------ */

    .contener-main {
        display: block;
    }

    /* --------------------------Our Team----------------------------------- */

    .our-team {
        align-content: center;
        background-color: #f4f4fd;
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .foons {
        background-color: #FFFFFF;
        flex-basis: calc((100% - 72px) /4);
        max-width: 264px;
    }

    .box-foons-img {
        width: 264px;
        padding-top: 32px;
        padding-bottom: 32px;
        border: 1px solid #E7E9FC;
        border-top: none;
        margin-right: 0;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        ;
    }


    /* ------------------------------customers--------------------------------------------------------------- */
    .customers-team {
        padding-top: 120px;
        padding-bottom: 120px;
    }

    .customers-logo-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;

    }

    /* ------------------------------footer -----------------------------*/

    .footer {
        background-color: #2E2F42;
        padding-top: 101px;
        padding-bottom: 100px;
    }

    .blok {
        margin-right: 120px;
        width: auto;
        margin-left: 0;
        margin-bottom: 0;
    }

    .blok-wrap {
        display: flex;
        flex-direction: unset;
        justify-content: space-between;
        align-items: stretch;
        width: 100%;
        min-height: 100%;
    }

    .tabel-footer {
        display: flex;
        justify-content: center;
        gap: 0;
        

    }


    .text {
        width: 264px;
        letter-spacing: 0.02em;
        margin: 0;
    }

    .footer-social {
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFFFFF;
        margin-bottom: 16px;
    }

    .footer-wrap {
        display: block;
        width: auto;
        margin-right: 80px;
    }

    .social-list {
        display: flex;
        justify-content: center;
        gap: 16px;
        margin: 0;
    }

    .subscribe {
        display: block;
    }

    .subscribe-inpyt {
        border: 1px solid #FFFFFF;
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
        border-radius: 4px;
        padding: 8px 16px;
        width: 264px;
        height: 40px;
        outline: transparent;
        background-color: #2E2F42;
        transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        margin: 0;
    }

    /* ---------------modal-------------------------------- */

    .modal {
        position: absolute;
        width: 408px;
        height: 586px;
        left: 50%;
        top: 50%;
        background-color: #FCFCFC;
        border-radius: 4px;
        transform: translate(-50%, -50%) rotate(0);
        transition: transform 250ms linear;
        padding: 24px;
    }

}