@media screen and (min-width: 428px) {

    .container {
        width: 426px;


    }

    /* -----------------header------------------- */

    .contener-header {
        display: flex;
        justify-content: space-between;
        padding: 0;

    }

    .address-mob {
        color: #434455;
        font-size: 36px;
        font-weight: 700;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        font-family: "Roboto",
            sans-serif;
        text-transform: initial;
        transition: color 250ms linear;
    }

    .mobile {
        color: #434455;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        font-style: normal;
        font-family: "Roboto",
            sans-serif;
        text-transform: initial;
        transition: color 250ms linear;

    }

    .hov-foc-mob {
        color: #2E2F42;
        font-size: 36px;
        line-height: 1.5;
        font-weight: 700;
        font-family: "Roboto",
            sans-serif;
        letter-spacing: 0.02em;
        text-transform: none;
        transition: color 250ms linear;

    }

    .list-nav {
        margin: 0;
    }

    .site-nav {
        display: none;
    }

    .site-nav-logo {
        padding: 24px 16px 22px 16px;

    }

    .underline::after {
        content: '';
        display: none;
    }



    /*----------------------- mob-menu-------------------- */

    .open-mob {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
        padding-top: 25px;
        padding-bottom: 25px;
        border: transparent;
        background-color: #FFFFFF;
        margin: 0;

    }


    .web-soc-item {
        display: flex;

    }

    .nav {
        margin: 0;
        padding: 0;
    }


    .site-nav-mob {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    .hov-foc-mob {
        margin-bottom: 40px;
    }

    .site-nav .nav:last-child {
        margin-bottom: 0;
    }

    .site-address-mob {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }


    /* ---------------------- Main --------------------------- */

    .items {
        width: 100%;
        background-color: #2E2F42;
        text-align: center;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-mobile.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }

    .item {
        display: block;
        width: 320px;
        font-size: 36px;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 72px;
        margin-left: auto;
        margin-right: auto;

    }

    /*------------------------- features-------------------------- */

    .contener-features {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .cont-features {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 72px;

    }

    .contener-features li {
        margin-right: 0;
    }

    .lists {
        font-family: 'Roboto', sans-serif;
        text-align: center;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        line-height: 1.11;
        color: #2e2f42;
        margin-top: 0;
        margin-bottom: 8px;
        text-transform: capitalize;
    }

    .lead {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
        margin-top: 0;

    }

    .features-list-img {
        display: none;
    }

    .fr-list {
        max-width: 356px;
    }



    /* --------------------------- What are we doing----------------------- */

    .contener-main {
        display: none;
    }

    /*--------------------------- Our Team---------------------- */
    .our-team {
        align-content: center;
        background-color: #f4f4fd;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .contener-out {
        display: flex;
        flex-direction: column;
        gap: 72px;
        align-items: center;
        justify-content: center;
    }

    /*-------------------------- customers-------------------------- */

    .customers-team {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .customers-logo-list {
        display: flex;
        flex-wrap: wrap;
        row-gap: 72px;
        column-gap: 16px;

    }

    /* ------------------------footer---------------------- */

    .footer {
        background-color: #2E2F42;
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .blok-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .blok {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

    }

    .text {
        color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.03em;
        margin-bottom: 72px;
    }

    .footer-wrap {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .social-list {
        margin-bottom: 72px;
    }


    .subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .subscribe-inpyt {
        width: 398px;
    }

    .form-subscribe {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
    }


    .modal {
        width: 392px;
        height: 584px;
    }

    .subscribe-inpyt {
        width: 398px;
    }



}




/* ---------------------------tablet------------------------------------- */



@media screen and (min-width: 768px) {

    .container {
        width: 766px;

    }


    .hov-foc {
        color: #2e2f42;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        font-family: "Roboto",
            sans-serif;
        letter-spacing: 0.02em;
        text-transform: none;
        padding-top: 24px;
        padding-bottom: 27px;
        transition: color 250ms linear;

    }

    .site-nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .site-nav {
        display: flex;
        justify-content: center;
        align-items: center;

    }

    .list-nav{
        margin-right: 120px;
    }

    .nav {
        display: block;
        padding-top: 24px;
        padding-bottom: 24px;
        margin-right: 40px;
    }

    /* -------------------------Address---------------------------------------- */

    .address {
        color: #434455;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.2;
        letter-spacing: 0.04em;
        font-family: "Roboto",
            sans-serif;
        text-transform: initial;
        transition: color 250ms linear;
        margin-bottom: 12px;
        
    }

    .nav-address{
        padding: 0;
        margin: 0;

    }

    .contener-header {
        display: block;
    }

    .tabel-nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .table {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 0;
        margin-right: 0;
    }

    .site-nav .nav-address:last-child {
        margin-bottom: 0;
    }

    /*----------------------- mob-menu-------------------- */

    .open-mob {
        display: none;
    }

    /*--------------- What are we doing--------------------------- */

    .contener-out {
        display: flex;
        flex-wrap: wrap;
        gap: 64px 24px;
        align-items: center;
        justify-content: center;
        flex-direction: unset;
    }

    

    /* ---------------------- Main --------------------------- */

    .items {
        width: 100%;
        background-color: #2E2F42;
        text-align: center;
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
                rgba(46, 47, 66, 0.7)),
            url(../images/Dark-tabley.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: auto;
        margin-right: auto;
    }

    .item {
        display: block;
        width: 320px;
        font-size: 36px;
        font-weight: 700;
        color: #FFFFFF;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        margin-bottom: 32px;
        margin-left: auto;
        margin-right: auto;
    }

    /*------------------------- features-------------------------- */

    .contener-features {
        padding-top: 96px;
        padding-bottom: 96px;
    }

    .cont-features {
        display: flex;
        flex-direction: unset;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 72px 24px;
    }

    .contener-features li {
        flex-basis: calc((100% - 30px) / 2);
        margin-right: 0;
    }

    .lists {
        font-family: 'Roboto', sans-serif;
        text-align: start;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        line-height: 1.11;
        color: #2e2f42;
        margin-top: 0;
        margin-bottom: 8px;
        text-transform: capitalize;
    }

    .lead {
        color: #434455;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 500;
        letter-spacing: 0.02em;
        margin-top: 0;

    }

    .fr-list {
        max-width: 356px;
    }

    /*--------------------------- What are we doing------------------------------------------------------ */



    .webstudio-list {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 24px;
    
    }

    .box-foons-img {
        width: 260px;
        padding-top: 32px;
        padding-bottom: 32px;
        border: 1px solid #E7E9FC;
        border-top: none;
        border-radius: 0px 0px 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);
        ;
    }

    .foons {
        background-color: #FFFFFF;
        flex-basis: calc((100% - 72px) /4);
        max-width: 264px;
    }


    /*-------------------------- customers-------------------------- */
    
    .customers-team {
        padding-top: 96px;
        padding-bottom: 96px;
    }
    
    .customers-logo-list {
        display: flex;
        flex-wrap: wrap;
        gap: 72px 24px;
    }

    /* ------------------------footer---------------------- */
    
    
    .blok-wrap {
        /* display: flex;
        flex-direction: column;
        align-items: center; */
    
    }
    
    

    .logo-studio {
        margin-bottom: 16px;
        width: auto;
    }
    
    .text {
        color: #F4F4FD;
        font-size: 16px;
        line-height: 1.5;
        font-weight: 400;
        letter-spacing: 0.03em;
        margin-bottom: 72px;
    }

    .footer-wrap {
        display: flex;
    

    }
    
    .social-list {
        margin-bottom: 72px;
    }

    .blok{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;


    }

    .logo-studio {
        margin-bottom: 16px;
    
    }

    /* .blok, .footer-wrap{
        display: flex;
        justify-content: center;
        align-items: center;
    } */

    .blok-wrap {
        display: block;
       
    }

    .form-subscribe {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .subscribe{
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
    
    .subscribe-inpyt {
         margin-right: 24px;
         width: 264px;
    }
    
    
    .modal {
        width: 408px;
        height: 584px;
    }
    
   

    
}



@media screen and (min-width: 1158px) {

    .container {
        width: 1158px;

    }
}